.insight-page{
    .insight-box{
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        height: 460px;
        &:hover {
            .content{   
                top: -600px;             
                animation-name: moveup;
                animation-duration: 1s;
            }
            .discription{
                height: 100%;
                animation-name: displayb;
                animation-duration: 1s;
                bottom: 0px;
                position: absolute;
                z-index: 1;
                padding: 30px;
                background: rgba(255, 255, 255, 0.03);
                border: 1px solid rgba(255, 255, 255, 0.15);
                transform-style: preserve-3d;
                transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
                transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
                backdrop-filter: blur(20px);
                
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transition: background .5s;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0.9024859943977591) 0%, rgba(0,0,0,0.8856792717086834) 45%, rgba(0,0,0,0.5999649859943977) 100%);
        }
        .content{
            height: 100%;
            position: absolute;
            bottom: 0px;
            left: 0px;
            color: white;
            z-index: 1;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .discription{
                display: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .paragraph{
                    height: 200px;
                    overflow: hidden;
                }
            }
            ul{
                padding: 0;
                li{
                    float: left;
                    list-style: none;
                    margin-right: 10px;
                        padding: 5px 20px;
                    &.tag{
                        background: white;
                        color: black;
                        border-radius: 10px;
                    }
                }
            }
            a{
                padding: 0;
                margin: 0;
            }
        }
        img{
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes moveup {
    from {
        top: 0px;
    }
    to {
        top: -600px;
    }
  }
@keyframes displayb {
    0% {
        opacity: 0;
        bottom: -600px;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    50% {
        opacity: .6;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    100% {
        opacity: 1;
        bottom: 0px;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  }
  
/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #7a7a7a7b;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}