.insight-featured{
    padding-bottom: 120px;
    .insight-slider{
        .insight-box{
            position: relative;
            height: 677px;
            width: 666px;
            border-radius: 10px;
            overflow: hidden;
            &::after{
                content: "";
                height: 100%;
                width: 100%;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,0.9024859943977591) 0%, rgba(0,0,0,0.8856792717086834) 45%, rgba(0,0,0,0.5999649859943977) 100%);
                top: 0;
                left: 0;
                position: absolute;
            }
            img{
                height: 100%;
                object-fit: cover;
            }
            .content{
                position: absolute;
                bottom: 20px;
                left: 40px;
                z-index: 1;
                ul{
                    padding: 0;
                    li{
                        list-style: none;
                        float: left;
                        padding: 5px 10px;
                        border-radius: 10px;
                        &.tag{
                            color: black;
                            background: white;
                        }
                    }
                }
                a{
                    margin-left: 0;
                }
            }
        }
    }
}