.insight-banner-display{ 
        margin-bottom: 140px;
        height: 760px;
        position: relative;
        border-radius: 10px;
        border: solid 2px rgba(255, 255, 255, 0.242);
        overflow: hidden;
        transition: border .2s;
        &:hover{
            border: solid 2px #ffffff
        }
        &::after{
            content: "";
            height: 780px;
            width: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0.9024859943977591) 0%, rgba(0,0,0,0.8856792717086834) 45%, rgba(0,0,0,0.5999649859943977) 100%);
            top: 0;
            left: 0;
            position: absolute;
        }
    img{
        height: 100%;
        object-fit: cover;
    }
    .content{
        position: absolute;
        bottom: 20px;
        left: 30px;
        z-index: 1;
        a{
            margin-left: 0px;
        }
    }
}
.gallery-images{
        border-radius: 10px;
        margin-bottom: 30px;
        position: relative;
        border: solid 2px rgba(255, 255, 255, 0.242);
        overflow: hidden;
        transition: border .2s;
        &:hover{
            border: solid 2px #ffffff
        }
        &::after{
            content: "";
            height: 380px;
            width: 100%;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,0.9024859943977591) 0%, rgba(0,0,0,0.8856792717086834) 45%, rgba(0,0,0,0.5999649859943977) 100%);
            top: 0;
            left: 0;
            position: absolute;
        }
    img{
        height: 365px;
        object-fit: cover;
    }
    .content{
        position: absolute;
        bottom: 20px;
        left: 30px;
        z-index: 1;
        a{
            margin-left: 0px;
        }
    }
}