.newsletter-page{
    .newsletter-box{
        background: white;
        color: black;
        border-radius: 10px;
        overflow: hidden;
        img{
            height: 334px;
            object-fit: cover;
        }
        .content{
            padding: 40px 10px;
            color: black;
        .paragraph{
            overflow-y: visible;
        }
        a{
            color: #000;
        }
            ul{
                padding: 0;
                li{
                    margin-right: 10px;
                        list-style: none;
                        float: left;
                        padding: 5px 10px;
                    &.tag{
                        border-radius: 10px;
                        background: #000;
                        color: white;
                    }
                }
            }
        }
    }
}