/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    // podcast
    .podcast-wrapper .podcast-box img{
        height: 200px;
    }
    // events
    .events-wrapper{
        overflow: hidden;
        .events-box {
        .content{
            position: relative;
        }
        &::before{
            bottom: 260px;
        }
    }
}
    // insights
    .insight-featured {
        padding-bottom: 50px;
    }
    .pt-120 {
        padding-top: 50px !important;
    }
    .mt-150{
        margin-top: 50px!important;
    }
    .page-top{
        position: relative;
    }
    .pages-inner .page{
        padding: 10px;
        img{
            width: 100% ;
        }
    }
 .about {
    height: 1350px;
    .about-image {
        img{
                width: 120%!important;
                position: relative;
                bottom: 0;
                left: 0;
                margin: auto;
        }
        &::after{
            position: absolute;
            bottom: -120px;
            left: -60px;
            height: 340px;
            width: 100%;
            background: rgb(0, 0, 0);
            background: linear-gradient(11deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 35%, rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
            rotate: 3deg;
        }
     }
     .about-content {
        ul{
            text-align: left;
            left: -33px;
            display: block;
            position: relative;
        }
        small{
            font-size:16px
        }h3{
            font-size: 20px;
        }
     }
 }
//  media page

    .insight-banner-display {
            margin-bottom:50px;
            height: 400px;
        img{
            object-fit: cover;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (max-width: 600px) {
    
// }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    // podcast
    .events-wrapper{
        overflow: hidden;
        .events-box {
            .content{
                position: relative;
            }
            &::before{
                bottom: 260px;
        }
    }
}
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .about {
        .about-image {
            img{
                bottom: auto;
                top: 0;
                left: -50px;
            }
        }
        .about-content{
            padding: 0;
            margin-left: 0;
        }
    }
    .insight-banner-display {
        margin-bottom:50px;
            height: auto;
        img{
            height: auto;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    
}