
$primary: #ffffff;
$secondary: #ffffff;


.link {
	display: block;
	position: relative;
	margin-inline: 25px;
	color: $primary;
}.link__ {

	&3 {
		&:before {
			content: "";
			width: 0;
			height: 2px;
			background-color: $secondary;

			position: absolute;
			top: 100%;
			left: 0;

			transition: width 0.3s ease-in-out;
		}
		&:after {
			content: "\2192";
			position: relative;
			display: inline-block;
			margin-left: 5px;
			transform: rotate(-45deg);

			transition: margin 0.3s ease-in-out, transform 0.3s ease-in-out,
				color 0.3s ease-in-out;
		}
		&:hover {
			&:before {
				width: 40%;
				z-index: -1;
			}
			&:after {
				color: $secondary;
				transform: rotate(0deg);
			}
		}
	}
}
.backdrope-btn{
	a{
		background: #2c2c2c;
		padding: 15px 18px;
		border-radius: 10px;
		margin-right: 20px;
		img{
			height: auto;width: 20px;
		}
	}
	
}
.btn-primary{
	background: #000;
	border: solid 1px gray;
	padding: 15px;
	border-radius: 10px;
}
.btn-primary-black{
	background: black;
	border: solid 1px #ffffff3b;
	border-radius: 40px;
	color: white;
	font-style: 14px;
	padding: 10px 20px;
	&:hover{
		color: #000;
		background: white;
	}
}